albumentations==1.1.0
matplotlib==3.4.3
numpy==1.23.0
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
pandas==1.4.3
segmentation-models-pytorch==0.2.1
streamlit==1.23.1
streamlit-aggrid==0.2.3.post2
streamlit-drawable-canvas==0.8.0
streamlit-elements==0.1.0
torch==1.12.0
torchvision==0.13.0
Pillow==9.1.1
