.css-1v0mbdj {
    margin: auto;
}

.css-rncmk8 {
    display: flex;
    justify-content: center;
    align-items: center;
}
[data-testId="stVerticalBlock"] div:nth-of-type(3)  {
    -ms-overflow-style: none;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

[data-testId="stVerticalBlock"] div:nth-of-type(3) iframe {
    margin-left: 50%;
    transform: translateX(-256px);
}

[data-testId="stVerticalBlock"] div:nth-of-type(8) {
    width: 512px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

[data-testId="stVerticalBlock"] div:nth-of-type(9) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 256px;
    margin: auto;
}

.stProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 512px;
    margin: auto;
}

.e1s6o5jp0 ul {
    width: 512px;
    text-align: center;
    margin: auto;
}

.stButton {
    text-align: center;
}

.row-widget.stButton button  {
    padding: 15px 60px;
    font-size: 20px;
    border-radius: 15px;
}

.CanvasToolbar_enabled__z-9Es {
    filter: invert(100%);
    background-color: red;
}