.css-1v0mbdj {
    margin: auto;
}

.css-rncmk8 {
    display: flex;
    justify-content: center;
    align-items: center;
}
[data-testId="stVerticalBlock"] div:nth-of-type(4)  {
    -ms-overflow-style: none;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

[data-testId="stVerticalBlock"] div:nth-of-type(3) iframe {
    margin-left: 50%;
    transform: translateX(-426px);
}

[data-testId="stVerticalBlock"] div:nth-of-type(6) {
    width: 852px;
    display: flex;
    align-items: center;
    margin: auto;
}

[data-testId="stVerticalBlock"] div:nth-of-type(9) {
    width: 852px;
    display: flex;
    align-items: center;
    margin: auto;
}

[data-testId="stVerticalBlock"] div:nth-of-type(1).element-container.css-1p1nwyz.e1tzin5v3 {
    height: 67px;
}
[data-testId="stVerticalBlock"].css-1pd56a0.e1tzin5v0 {
    margin-top: -50px;
}

#root > div.nth:only-of-type(1) {
    height: 250px !important;
}

[data-testId="stVerticalBlock"] div:nth-of-type(1).element-container.css-1p1nwyz.e1tzin5v3 iframe {
    margin-top: -75px;

    width: 250px;
    height: 250px;

    margin-left: 20px;
}

/*[data-testId="stVerticalBlock"] div .css-1p1nwyz e1tzin5v3  {*/
/*    background: red;*/
/*}*/

/*[data-testId="stVerticalBlock"] div.css-1pd56a0 e1tzin5v0{*/
/*    margin-top: -50px;*/
/*}*/


/*[data-testId="stVerticalBlock"] div:nth-of-type(10) {*/
/*    width: 852px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin: auto;*/
/*}*/

[data-testId="stFormSubmitButton"] button {
    padding: 12px 30px;
    transition: all 0.3s ease-in;
    border-radius: 15px;
    border-color: #990000;
}

.stDownloadButton button {
    padding: 10px 25px;
    border-radius: 15px;
}

[data-testId="stFormSubmitButton"] button:hover {
    transform: scale(0.9);
    border-color: #505158;
}

.stProgress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 852px;
    margin: auto;
}

.e1s6o5jp0 ul {
    width: 852px;
    text-align: center;
    margin: auto;
}

.CanvasToolbar_enabled__z-9Es {
    filter: invert(100%);
    background-color: red;
}